/* KatBizniss
 *
 * main styles for KatBiznisss
 *
 * coded by Gotrixx
 * started at 09/02/2017
 */

 html {
    background: yellow;
    body {
        display: flex;
        background: red;
    }
 }