/* KatBizniss
 *
 * main styles for KatBiznisss
 *
 * coded by Gotrixx
 * started at 09/02/2017
 */

 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

 html {
 	background: url(../img/main-bg.jpg);
 	background-size: 100% auto;
 	width: 100%;
 	min-height: 100%;
 	font: normal 62.5%/1.50 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
 	color: #111;
 }

 body{
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 }

main{
	width: 90%;
	// max-width: 30rem;
}

section{
	background: #fff;
	box-shadow: 0 0 .5rem rgba(black, .25);
	margin-bottom: 2rem;
	padding: 2rem;
	min-height: 40rem;

	&.face{
	 	display: flex;
	 	flex-direction: column;
	 	justify-content: center;
	 	align-items: center;
		background: url(../img/card-bg.jpg) center no-repeat;
		background-size: 100%;
		}

	&.back{
	 	display: flex;
	 	flex-direction: column;
	 	justify-content: center;
	 	align-items: flex-start;
	}
}

h1{
	margin-bottom: 1rem;
	color: #fff;
	font-weight: 200;
	font-size: 5rem;
	text-shadow: 0 0 .5rem rgba(black, .25);
}

p{
	margin: 0 auto;
	color: #fff;
	font-size: 4rem;
	text-shadow: 0 0 .5rem rgba(black, .25);
}

h2{
	margin: 0 auto 5rem;
	font-size: 4rem;
	font-weight: 200;
}

nav{
	display: none;
}

dl{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	font-size: 2em;
	dt{
		width: 30%;
		margin-right: 5%;
		text-align: right;
	}

	dd{
		width: 65%;
		margin: 0;
	}
}

@media screen and( min-width: 640px ) {
	body{
		perspective: 80rem;
	}

	main{
		position: relative;
		// min-height: 20rem;
		transition: transform .5s ease-in-out;
		&.flipped {
			transform-style: preserve-3d;
			transform: rotateY( 180deg );
		}
	}

	section {
		position: absolute;
		width: 100%;
		backface-visibility: hidden;
		&.back{
			transform: rotateY( 180deg )
		}
	}

	nav{
		display: block;
		width: 90%;
		max-width: 30rem;
		margin: 50rem auto 5rem;
		font-size: 1.4rem;
		text-align: left;
		a{
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
			color: #fff;
			text-decoration: none;
			transition: color .25s ease-in-out;
			svg{
				height: 1.8rem;
				margin-right: .5rem;
				fill: #fff;
				transition: fill .25s ease-in-out, transform .50s ease-in-out;
			}
			&:hover{
				color: red;
				svg{
					fill: red;
					transform: rotate( 180deg );
				}
			}
		}
	}
}
